<div>
    <div>
        <button mat-button (click)="openDialog()">Open dialog</button>
    </div>

    <mat-form-field>
        <mat-label>Filter Users</mat-label>
        <input
            matInput
            (keyup)="applyFilterUsers($event)"
            placeholder="Ex. user"
            #inputUser
        />
    </mat-form-field>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSourceUsers">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Id</th>
                <td mat-cell *matCellDef="let element">{{ element.id }}</td>
            </ng-container>

            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef>Username</th>
                <td mat-cell *matCellDef="let element">{{ element.username }}</td>
            </ng-container>

            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef>Address</th>
                <td mat-cell *matCellDef="let element">{{ element.address }}</td>
            </ng-container>

            <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef>Role</th>
                <td mat-cell *matCellDef="let element">{{ element.role }}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedUsersColumns"></tr>
            <tr
                mat-row
                *matRowDef="let row; columns: displayedUsersColumns"
            ></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">
                    No data matching the filter "{{ inputUser.value }}"
                </td>
            </tr>
        </table>

        <mat-paginator
            [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
        ></mat-paginator>
    </div>
</div>
