<div class="body-container body-pd" id="body-pd" #body_pd>
    <header class="header body-pd" id="header" #header>
        <div class="header__toggle">
            <i class="bx bx-menu bx-x" id="header-toggle" (click)="menuSlide()" #header_toggle></i>
        </div>

        <div class="nav-middle flex-div">
            <div class="search-box flex-div">
                <input type="text" placeholder="Search">
                <i class="bx bx-search" id="header-search-box"></i>
            </div>
        </div>


        <div class="header__img">
            <img src="assets/images/perfil.jpg" alt="Not" />
        </div>
    </header>

    <div class="l-navbar show" id="nav-bar">
        <nav class="nav">
            <div>
                <a [routerLink]="'/'" class="nav__logo">
                    <i class="bx bx-layer nav__logo-icon"></i>
                    <span class="nav__logo-name">ProjectChain</span>
                </a>

                <div class="nav__list">
                    <a [routerLink]="'/dashboard'" routerLinkActive="active" class="nav__link">
                        <i class="bx bxs-dashboard nav__icon"></i>
                        <span class="nav__name">Dashboard</span>
                    </a>

                    <a [routerLink]="'/admin'" routerLinkActive="active" class="nav__link">
                        <i class="bx bx-grid-alt nav__icon"></i>
                        <span class="nav__name">Admin</span>
                    </a>

                    <a [routerLink]="'/project-initiator'" routerLinkActive="active" class="nav__link">
                        <i class="bx bx-user nav__icon"></i>
                        <span class="nav__name">Project Initiator</span>
                    </a>

                    <a [routerLink]="'/company-builder'" routerLinkActive="active" class="nav__link">
                        <i class="bx bx-message-square-detail nav__icon"></i>
                        <span class="nav__name">Company Builder</span>
                    </a>

                    <a [routerLink]="'/project-supervisor'" routerLinkActive="active" class="nav__link">
                        <i class="bx bx-bookmark nav__icon"></i>
                        <span class="nav__name">Project Supervisor</span>
                    </a>

                    <br><br>

                    <a [routerLink]="'/projects'" routerLinkActive="active" class="nav__link">
                        <i class="bx bx-user nav__icon"></i>
                        <span class="nav__name">Projects</span>
                    </a>
                    <a [routerLink]="'/user-profile'" routerLinkActive="active" class="nav__link">
                        <i class="bx bx-user nav__icon"></i>
                        <span class="nav__name">User Profile</span>
                    </a>
                </div>
            </div>

            <a href="#" class="nav__link">
                <i class="bx bxs-copyright nav__icon"></i>
                <span class="nav__name">Copyright 2021</span>
            </a>
        </nav>
    </div>

    <div class="main-section-container">
        <router-outlet></router-outlet>
    </div>
</div>
