<div class="container">
    <h1>Pure Responsive CSS Timeline</h1>
    <div class="timeline">
        <ul>
            <li>
                <div class="content">
                    <h3>What is Lorem Ipsum?</h3>
                    <p>
                        asda fjsdkf sdf sd f sdfsdkfs dsdlf sflsl;dfsldf;ls
                        asdasdasd asdasd asd as
                    </p>
                </div>
                <div class="time">
                    <h4>January 2018</h4>
                </div>
            </li>
            <li>
                <div class="content">
                    <h3>What is Lorem Ipsum?</h3>
                    <p>
                        asda fjsdkf sdf sd f sdfsdkfs dsdlf sflsl;dfsldf;ls
                        asdasdasd asdasd asd as
                    </p>
                </div>
                <div class="time">
                    <h4>January 2018</h4>
                </div>
            </li>
            <li>
                <div class="content">
                    <h3>What is Lorem Ipsum?</h3>
                    <p>
                        asda fjsdkf sdf sd f sdfsdkfs dsdlf sflsl;dfsldf;ls
                        asdasdasd asdasd asd as
                    </p>
                </div>
                <div class="time">
                    <h4>January 2018</h4>
                </div>
            </li>
            <li>
                <div class="content">
                    <h3>What is Lorem Ipsum?</h3>
                    <p>
                        asda fjsdkf sdf sd f sdfsdkfs dsdlf sflsl;dfsldf;ls
                        asdasdasd asdasd asd as
                    </p>
                </div>
                <div class="time">
                    <h4>January 2018</h4>
                </div>
            </li>
            <li>
                <div class="content">
                    <h3>What is Lorem Ipsum?</h3>
                    <p>
                        asda fjsdkf sdf sd f sdfsdkfs dsdlf sflsl;dfsldf;ls
                        asdasdasd asdasd asd as
                    </p>
                </div>
                <div class="time">
                    <h4>January 2018</h4>
                </div>
            </li>
            <li>
                <div class="content">
                    <h3>What is Lorem Ipsum?</h3>
                    <p>
                        asda fjsdkf sdf sd f sdfsdkfs dsdlf sflsl;dfsldf;ls
                        asdasdasd asdasd asd as
                    </p>
                </div>
                <div class="time">
                    <h4>January 2018</h4>
                </div>
            </li>
            <div style="clear: both"></div>
        </ul>
    </div>
</div>
